:root{
    --mainColor: #262626;
    --secondaryColor:#FD6A02;
    
    --borderColor:#e6e6e6;

    --mainText:#f1f1f1;
    --secondaryText:#262626;
    --themeDotBorder:#ffffffb0;

    --previewBg: #535151;
    --previewShadow:#FD6A02;
    --previewBorder:#ffffffb0;
    
    --buttonColor:#FD6A02;

}



.input-field{
    background-color: #eaeaea;
    color: black;
}

.corner{
    width:7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #262626;
    background-color:#FD6A02;
    position: absolute;
}



.resume{
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    color: #262626;
    
}

#preview{
    border:2px solid;
        border-color: var(--previewBorder);
}

#skills{
    background:#535151;
}

#skills, li{
    color: #f1f1f1;
}

#settings-note{
    font-size: 18px;
    font-weight: italic;
    text-align: center;
}

a, p{
    text-decoration: none;
    color:#f1f1f1;
  
}


